h2 {
  font-size: 24px;
}

.task-input {
  margin-bottom: 10px;
}

input {
  padding: 6px;
}

button {
  margin-left: 5px;
}

.remove-button {
  margin-left: 10px;    
  cursor: pointer;
  line-height: 1;
  font-style: normal;
  font-weight: bold;
}
.remove-button:disabled {
  background-color: gray;
  color: lightgray;
  cursor: not-allowed;
  font-style: italic;
}

li {
  list-style: none;
  margin: 0 0;
  margin-left: -15%;
}